.mu-main {
  display: flex;
  flex-direction: column;
  margin: 5;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;

  & .ant-tabs-nav-wrap {
    padding-left: 5px;
  }
}

.mu-main__content {
  @apply px-2 flex-1 overflow-hidden;
}
